[Desktop Entry]
Name=微信
Exec=env QT_AUTO_SCREEN_SCALE_FACTOR=1 wechat-uos %U
Terminal=false
Type=Application
Icon=com.tencent.wechat
StartupWMClass=微信
Comment=微信桌面版
Categories=Utility;
Keywords=wechat;weixin;wechat-uos;
